  /* Index */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  
  header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
  }
  
  header h1 span{
    color: #008829;
  }

  /* Main */

  .welcome {
    background-color: black;
  }

  .welcome h2{
    color: white;
    text-align: center;
  }
  .welcome h2 span{
    color: #008829;
  }

  .welcome p{
    color: white;
    text-align: center;
  }

  h3{
    text-align: center;
  }

  .game-buy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .game-card {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .card-image {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  h2, p {
    margin: 10px 0;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Footer */

  footer img{
    width: 30px;        
}

/* Tablet */
@media screen and (max-width:900px){
  .game-buy{
    grid-template-columns: repeat(2, 1fr);
  }

  .game-card {
    background-color: rgb(29, 28, 28);
    color: rgb(255, 255, 255);
  }
}

/* Telefono */
  
@media screen and (max-width:768px){
  .game-buy{
    grid-template-columns: repeat(1, 1fr);
  }

  .game-card {
    background-color: rgb(29, 28, 28);
    color: rgb(255, 255, 255);
  }
}

  /* Page Inventario */
  
  main h2 {
    text-align: center;
    color: white;
    background-color: black;
  }

  main h3 {
    text-align: center;
    color: white;
    background-color: black;
  }

  .skins-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .skins-card {
    background-color: rgb(29, 28, 28);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .skins-image {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;
  }

  .skins-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .skins-my {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }


  /* Page Biblioteca */
  
  .flex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .games-card{
    width: calc(25% - 20px); 
    margin: 10px; 
    background-color: #2c2c2c;
    border: 1px solid #222222;
    padding: 10px;
    color: white;
  }

  .games-image img{
    max-width: 100%;
    height: auto;
  }

  /* Tablet */
@media screen and (max-width:900px){
  .biblioteca .games-card{
    width: calc(33.33% - 20px); 
  }
}

/* Telefono */
  
@media screen and (max-width:768px){
  .biblioteca .games-card{
    width: calc(50% - 20px); 
  }
}