
.welcome {
    background-color: black;
    h2{
        color: white;
        text-align: center;
        span{
            color:nth($colors, 2) ;
        }
    }
    p{
        color: white;
        text-align: center;
    }
}
  h3{
    text-align: center;
  }
  .game-buy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    .game-card{
      background-color: #2c2c2c;
      color: white;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
        .card-image{
          width: 100%;
          max-height: 200px;
          overflow: hidden;
          border-radius: 5px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;   
            }
        }    
    }
  }    
  
  h2, p {
    margin: 10px 0;
  }
  button {
    background-color: #272727;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
    /* Page Inventario */
    main{
      h2{
        text-align: center;
        color: white;
        background-color: black;
      }
      h3{
        text-align: center;
        color: white;
        background-color: black; 
      }
      .skins-top{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
      .skins-card{
        background-color: #2c2c2c;
        color: white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;    
        .skins-image{
            width: 100%;
            max-height: 200px;
            overflow: hidden;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;   
            }   
       }
      }
    }
    .skins-my {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 20px;
      .skins-card{
        background-color: rgb(29, 28, 28);
        color: white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;    
        .skins-image{
            width: 100%;
            max-height: 200px;
            overflow: hidden;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;   
            }   
       }
      }
    }  
}

    /* Page Biblioteca */

    .flex-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .games-card{
        width: calc(25% - 20px); 
        margin: 10px; 
        background-color: #2c2c2c;
        border: 1px solid #222222;
        padding: 10px;
        color: white;
        transition: 1s;
      }
      .games-image img{
        max-width: 100%;
        height: auto;
      }
    }
  
    .biblioteca .games-card:hover{
      transform: scale(1.1);  
    }
  
    
    /* Page Nosotros */

    .hero{
      h3{
        background-color: black;
        color: white;
        text-align: center;
      }
      h4{
        background-color: black;
        color: white;
        text-align: center;
      }
    }

    